html, body {
    margin: 0;
    border: 0;
    padding: 0;
    background-color: $bg;
    min-height: 100%;
    height: 100%;
    font-family: $typeface;
}

main {
    width: 100%;
    height: 100%;
}

#app {
    min-height: 100%;
    height: 100%;
}
