<template>
    <div class="login component">
        <img width="320"
             src="~img/btn_auth_to_tumblr.png"
             alt="Access with Tumblr"
             @click="$emit('authenticate', 'oauth1')">
    </div>
</template>

<script>
    export default {
        data() {
            return {
                message: 'Hello World!',
            }
        },
    }
</script>

<style lang="scss">
    /* ~<name> indicates an alias defined in webpack.config */
    @import '~styles/_vars.scss';
    @import '~styles/_common.scss';

    .login {
        display: inline-block;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
    }
</style>
