<template>
    <div id="profile">
        <header>
            <img src="~img/tumblr-logo-white-128.png" alt="Tumblr Logo">
            <h1>Tumblr Followers Check</h1>
        </header>
        <section class="profile">
            <div class="user-info">
                {{ username }}
            </div>
            <div class="content">
                <ul class="blog-list">
                	<li class="blog" v-for="blog in following">
                        <div class="data">
                            <div class="name"><a :href="blog.url" target="_blank">{{ blog.name }}</a></div>
                            <div class="updated">Updated {{ blog.updated | timeago }}</div>
                        </div>
                		<button class="unfollow button">Unfollow</button>
                	</li>
                </ul>
            </div>
            <aside></aside>
        </section>
    </div>
</template>

<script>
export default {
    data() {
        return {
            username: '',
            blogs: [],
            following: [],
        }
    },
    created() {
        // TODO: Replace this check with proper interceptors
        // https://github.com/dgrubelic/vue-authenticate#custom-request-and-response-interceptors
        if (!this.$auth.isAuthenticated()) {
            this.$router.push('/');
            return false;
        }

        this.$http.get('/tumblr/userInfo')
            .then(res => {
                console.log(res);
                let user = res.body.user;
                let blogs = user.blogs;
                this.username = user.name;
                this.blogs = blogs;
            })
            .catch(err => {
                console.error(err);
            });

        this.$http.get('/tumblr/userFollowing')
            .then(res => {
                let following = res.body.blogs;
                this.following = following;
            })
            .catch(err => {
                console.error(err);
            });

    }
}
</script>

<style lang="scss">
/* ~<name> indicates an alias defined in webpack.config */
@import '~styles/_vars.scss';
@import '~styles/_common.scss';

section.profile {
    display: flex;
    flex-wrap: nowrap;
    .user-info {
        width: 20%;
    }
    .content {
        width: 60%;
        background-color: white;
        border-radius: 12px;
    }
    aside {
        width: 20%;
    }
}

.blog-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    .blog {
        width: 100%;
        padding: 10px 40px;
        list-style: none;
        color: $text_on_light;
        &:nth-child(even) {
            background-color: rgb(248, 248, 248);
        }
        .data {
            width: 75%;
            float: left;
        }
        .name {
            a {
                text-decoration: none;
                color: inherit;
                font-weight: bold;
            }
        }
        .updated {
            font-size: 0.8rem;
        }
        .button {
            float: right;
            background-color: transparent;
            border: 1px solid #9da6af;
            border-radius: 3px;
            font-weight: bold;
            color: rgba(0,0,0,0.6);
            font-size: 0.75rem;
            line-height: 1.50rem;

        }

    }
}

</style>
